@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Lexend+Tera:wght@100..900&family=Pacifico&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

header {
    display: flex;
    font-family: 'Permanent Marker', sans-serif;
    justify-content: space-between;
}
.page-container {
    font-family: 'Sour Gummy', sans-serif;
    min-height: 100vh;
    height: 100%;
}
.cardFlip {
    height: 200px;
    width: 150px;
    background-image: url(images/backsidePlayingCard.jpg);
    background-size: 140%;
    background-position: center;
    border-radius: 8px;
    color: rgb(42, 169, 42);
    font-size: 30px;
}
